* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-family: Panton;
	background: #ffffff;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	font: inherit;
	color: inherit;
}

/*header*/

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 2vw;
	width: 90vw;
	margin: 0 auto;
}

.logo-fond {
	height: auto;
	width: 26vw;
}

.title-fond {
	width: 30vw;
	font-size: 2.5vw;
	text-transform: uppercase;
	color: #444444;
	font-weight: normal;
	text-align: center;
}

.header__block-messeng {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: right;
	width: 25vw;
	justify-content: flex-end;

}

.header__block-messeng__tel {
	width: 25vw;
	color: #43bfed;
	font-size: 2.2vw;
	margin-bottom: 0.5vw;
	text-decoration: none;
	font-weight: bold;
}

.header__block-messeng__icons {
	width: 2vw;
	height: auto;
	margin-left: 1.5vw;
}

.nav-site {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80vw;
	margin: 0 auto;
}

.nav-site li {
	list-style: none;
}

.nav-site li a {
	font-size: 1.8vw;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.nav {
	margin-top: 2em;
	width: 100%;
}

/*end header*/
/*_______________index____________________*/
/*section-one*/
.info {
	margin-left: 5vw;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.info__text {
	width: 45%;
	text-align: center;
}

.info__text-p {
	width: 40vw;
	font-size: 1.2vw;
	line-height: 150%;
	margin-bottom: 1vw;
	color: #000;
	text-align: center;
}

.info__text-blue {
	font-size: 1.2vw;
	width: 40vw;
	line-height: 150%;
	color: #26b5ea;
	text-align: center;
	font-weight: bold;
}

.info__img {
	width: 54%;
	height: auto;
}

/*section one*/

/*section-two*/
.help {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 5vw;
}

.help__img{
	width: 40%;
	height: auto;
}
.help__text {
	background-image: url(../img/help_bg.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 59%;
	text-align: center;
	align-items: center;
}

.help__text-blue,
.help__text-simpl {
	text-align: center;
	width: 60%;
}
.help__text-blue {
	color: #26b5ea;
	font-size: 1.5vw;
	margin-bottom: 0.5vw;
}



.help__text-simpl {
	color: #888888;
	font-size: 1.2vw;
	margin-bottom: 0.5vw;
}

.help__text__link{
	color: #888888;
	font-size: 1vw;
	margin: 0 auto;
}

.help__text-info {
	color: #26b5ea;
	margin-top: 1vw;
	font-size: 1.1vw;
	text-align: center;
}

.help__text__blocs-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.help__text-blocs-info__text {
	margin-top: 2vw;
	font-size: 1vw;
	width: 45%;
	text-align: left;
	letter-spacing: 0.05em;
	line-height: 130%;
}

/* end section-two*/

.phone-info{
	width: 90vw;
	margin: 0 auto;
}

.phone-info__title{
	text-align: center;
	font-size: 3vw;
	font-weight: bold;
	padding-top: 2vw;
	margin-bottom: 2vw;
}

.phone-info__ul-title{
	font-size: 1.2vw;
	font-weight: bold;
	margin-bottom: 1vw;
}

.phone-info__list{
	padding-left: 2vw;
	margin-bottom: 3vw;
}

.link{
	border-bottom: 1px solid ;	
}

.ul__item{
	font-size: 1.2vw;
	margin: .5vw .5vw .5vw 0;
}

/*news*/
.news {
	padding-top: 5vw;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

}

.news__left {
	width: 50%;
	text-decoration: none;
}

.news__left__img {
	width: 100%;
	height: auto;
	margin-bottom: 2vh;
}

.news__left__title {
	font-size: 1.7vw;
	color: #000;
}

.news__left__info {
	font-size: 1.3vw;
	color: #000;
}

.news__right__block {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	width: 47%;
	color: #fff;
}

.news__right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 46%;
}

.news__right__img {
	width: 100%;
	height: auto;
}

.news__right__title {
	font-size: 1.1vw;
	color: #000;
}

.news__right__info {
	font-size: 0.8vw;
	margin-bottom: 1vw;
	color: #000;
}

/*end news*/


/*join*/

.join {
	padding-top: 1vw;
	position: relative;
}

.join__img {
	width: 100%;
}

.join__text {
	position: absolute;
	top: 35%;
	right: 5%;
	color: #fff;
	font-weight: bold;
	font-size: 3vw;
}

/*end join*/

.footer {
	width: 90%;
	margin: 0 auto;
	padding-top: 0.5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__img{
	width: 20%;
	height: auto;
}
.footer-site {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 55%;
	padding-top: 1vw;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.footer-site li {
	list-style: none;
	text-decoration: none;
	font-size: 1vw;
	color: #000;
}

.footer-site li a {
	text-decoration: none;
	font-size: 1.3em;
	color: #000;
}

/*_______________end index____________________*/
/*___________________children____________________*/

.title__main{
	margin-top: 4vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 4vw;
	font-size: 1.8vw;
}

.title__main-star {
	width: 2.5vw;
	height: auto;
	margin-left: 1vw;
	margin-right: 1vw;
}

.bg-main-child{
	background-image: url(../img/Vector.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 99% 100%;
	max-width: 100%;
	margin-bottom: 5vw;
}
.children__main {
	
	width: 90vw;
	margin: 0 auto;
	padding-bottom: 10vw;
	padding-top: 0.5vw;
}

.children__main-text {
	font-size: 1.2vw;
	line-height: 1.4vw;
	letter-spacing: 0.1em;
	margin-bottom: 2vw;
}

.children__main-ul {
	margin-bottom: 3vw;
	background: #FFFFFF;
	border: 2px dashed #C4C4C4;
	box-sizing: border-box;
	padding: 1.5vw 3.5vw;
	font-size: 1.2vw;
	line-height: 170%;
	letter-spacing: 0.1em;
}

.children__main-ul__li{
	font-size: 1.2vw;
	line-height: 1.4vw;
}

.smal-indent{
	margin-bottom: 0.5vw;
	font-size: 1.2vw;
}
.children__main-mail{
	color: #26B5EA;
	text-decoration: none;
	font-size: 1.2vw;
	line-height: 1.4vw;
	letter-spacing: 0.1em;
}

.children__main__text{
	font-size: 1.2vw;
	line-height: 1.4vw;
	letter-spacing: 0.1em;
	margin-bottom: 2vw;
}
.main__text__red{
	color: #FE207E;
}

/*________________end children____________________*/


/*________________help-children____________________*/

.main-help{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 90vw;
	margin: 0 auto;
	padding-bottom: 5vw;
}

.main-help__block-children{
	width: 30%;
	padding-bottom: 5vw;
}

.block-children__img{
	width: 100%;
	height: auto;
}

.block-children__name{
	font-size: 1.4vw;
	line-height: 1.7vw;
	margin-top: 1vw;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #26B5EA;
}

.block-children__info,
.block-children__diagnosis,
.block-children__link{
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #000000;
	margin-bottom: 0.6vw;
}

.block-children__diagnosis{
	font-weight: bold;
}
.block-children__link{
	color: #C4C4C4;
}
/*________________end help-children____________________*/

/*________________help-sum____________________*/

.block-children__need,
.block-children__sum{
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #000000;
	margin-top: 1.2vw;
}

.block-children__sum{
	color: #FF006C;
}

/*________________end help-sum____________________*/

/*________________detail____________________*/

.detail{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 90vw;
	margin: 0 auto;
	padding-top: 3vw;
	padding-bottom: 5vw;
}

.detail__block-img{
	width: 28%;
	height: auto;
}

.wrap-name{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.wrap-name__link{
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #C4C4C4;
}

.detail__block-info{
	width: 68%;
}
.block-info__name{
	font-size: 1.4vw;
	line-height: 1.7vw;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #26B5EA;
	margin-bottom: 2em;
}
.block-info__diagnosis,
.block-info__info,
.block-info__link,
.block-info__need,
.block-info__sum{
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #000000;
	font-weight: bold;
	margin-bottom: 0.6vw;
}

.block-info__info{
	font-weight: normal;
	margin-bottom: 2em;
}

.block-info__link{
	font-weight: normal;
	color: #C4C4C4;
}

.block-info__need{
	margin-top: 1.2vw;
}

.block-info__sum{
	color: #FF006C;
	margin-bottom: 2vw;
}

.block-info__prace{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	
}

.color-green{
	color: #06C402;
}

.color-blue{
	color:#26B5EA;
}

.block-info__btns{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.btns__help{
	padding: 0.5vw 4.2vw;
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	text-decoration: none;
	background: #26B5EA;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px
}

.btns__docs{
	height: 1.8vw;
	font-size: 1.2vw;
	text-decoration: none;
	border-bottom: 1px solid #C4C4C4;
	letter-spacing: 0.1em;
	color: #C4C4C4;
}
.history{
	width: 90vw;
	margin: 0 auto;
	margin-bottom: 5vw;
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #000000;
}

/*________________end detail____________________*/


/*________________description____________________*/

.volunter{
	width: 90vw;
	margin: 0 auto;
}

.volunter__description{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 2vw;
	text-align: center;
	font-size: 1.2vw;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.1em;
	color: #000000;
}

.volunter__title-form{
	margin-bottom: 1vw;
	font-size: 1.4vw;
	line-height: 1.7vw;
	letter-spacing: 0.1em;
	color: #26B5EA;
}

.volunter__form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form__left-bar{
	width: 43%;
}
.left-bar__input{
	width: 100%;
	margin-bottom: 1.4vw;
	padding: 0.75vw 1.4vw;
	background: #FFFFFF;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #C4C4C4;
}

.left-bar__radio{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0.6vw;
	margin-bottom: .5vw;
	
}

.radio__input{
	margin-left: 2vw;
}
.radio__label{
	margin-left:1vw;
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #C4C4C4;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.left-bar__input-submit{
	padding: 0.5vw 3.3vw;
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	background: #26B5EA;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border:none;
	cursor: pointer;
}

.form__right-bar{
	width: 55%;
}
.right-bar__textarea{
	width: 100%;
	height: 7.5vw;
	margin-bottom: 1.7vw;
	padding: 0.9vw 1.2vw;
	background: #FFFFFF;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #C4C4C4;
	resize: none;
}


.legal{
	width: 90vw;
	margin: 0 auto;
}

.legal__text{
	margin-bottom: 1.2vw;
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #000000;
}

.legal__text__phone{
	color: #26B5EA;
	
}

.legal__title-ul{
	margin-bottom: 1.2vw;
	font-size: 1.2vw;
	font-weight: bold;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #000000;
}

.list__li{
	margin-left: 2.1vw;
	font-size: 1.2vw;
	line-height: 150%;
	letter-spacing: 0.1em;
	color: #000000;
}

.legal__list{
	margin-bottom: 1.5vw;
}
/*________________end description____________________*/

/*________________help____________________*/

.help-sms{
	width: 90vw;
	margin: 0 auto;
	background-image: url(../img/help_bg.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 60%;
}

.help-sms__title{
	margin-bottom: 0.5em;
	font-size: 1.4vw;
	line-height: 1.7vw;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
	color: #26B5EA;
}

.help-sms__text{
	margin-bottom: 0.5em;
	font-size: 1.2vw;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.1em;
	color: #252525;
}

.help-sms__title-red{
	margin-bottom: 0.5em;
	font-size: 1.85vw;
	line-height: 2.2vw;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FF006C;
}

.help-sms__info{
	padding-top: 2.4em;
	width: 40%;
	margin: 0 auto;
	font-size: 1.2vw;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.1em;
	color: #000000;
}

.help-sms__operator{
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	width: 40%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.help-sms__detail-link{
	margin-left: 30%;
	font-size: 1.2vw;
	letter-spacing: 0.1em;
	color: #C4C4C4;
}

.account{
	width: 90%;
	margin: 0  auto;
}
.account__info{
	width: 50%;
	margin: 0 auto;
	font-size: 1.2vw;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.1em;
	color: #252525;
}

.account__adress{
	padding: 2vw;
	margin: 0 auto;
	margin-top: 1vw;
	width: 80%;
	text-align: center;
	border: 1px dashed #C4C4C4;
	font-size: 1.2vw;
	line-height: 150%;
}

.adress{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.adress__img{
	width: 30%;
	height: auto;
}
.title__main-help{
	margin-top: 1vw;
	margin-bottom: 1vw;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 1.8vw;
}

.right-block__list{
	width: 100%;
	margin-left: 15%;
}
/*________________end help____________________*/


/*________________report____________________*/

.docs{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

}
/*тут все спрятал*/
.hide,
.hide + label ~ div {
    display: none;
}
/* стилизация label  */
.hide + label {
	display: none;
}

.detail__img,
.btn__bottom{
	width: 1.5vw;
	height: auto;
	margin-left: 1vw;
}

.report{
	margin: 0.5vw 0 0.5vw 0;
}

/*________________end report____________________*/


/*________________partner____________________*/


.partners{
	width: 90vw;
	margin: 0 auto;
}

.partners__title,
.partners__info{
	font-size: 1.4vw;
	line-height: 150%;
	margin-bottom: 2vw;
	
}

.partners__title{
	font-weight: bold;
}

.partner__title{
	font-size: 1.2vw;
	font-weight: bold;
	margin-bottom: 2vw;
}

.partner__img{
	width: 40%;
	height: auto;
	margin-bottom: 2vw;
}
/*________________end partner____________________*/


/*________________team____________________*/

.teams{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
}

.teams__personal{
	width: 18%;
	min-width: 180px;
}

.personal__img{
	width: 70%;
	height: auto;
	padding-left: 15%;
	margin-bottom: 1vw;
	min-height: 10vw;
}

.personal__title{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5vw;
	font-weight: bold;
	margin-bottom: 1vw;
	min-height: 3vw;
}

.personal__text{
	text-align: center;
	font-size: 0.9vw;
	min-height: 6vw;
}
/*________________end partner____________________*/


/*________________:;programm: ;____________________*/


.programm {
  margin: 0 auto;
  width: 90%;
}
.programm h2 {
	margin-top: 5vw;
  text-align:  center;
  word-spacing:0.8vw;
  font-size: 1.9vw;
  }


.programm__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vw;
  padding: 0;
  list-style-type: none;
}
.programm__ul img {
  float: left;
  margin: 1% 5% 8% 0%;
  width: 8.5vw;
}
.programm__ul li {
  display: inline-block;
  width: 40vw;
}
.programm__ul-name {
  text-transform: uppercase;
  font-weight: 610;
  color: #26B5EA;
  font-size: 1.4vw;
  letter-spacing: 0.1vw;
}
.programm__ul-text {
  font-size: 1.2vw;
  letter-spacing: 0.1vw;
  font-family: inherit;
  font-weight: normal;
}


.heartCity {
  width: 100%;
  background-size: cover;
  background-image: url(../img/heart.png);
  padding-bottom: 9vh;
}
.heartCity p {
  letter-spacing: 0.1vw;
  width: 38%;
  padding-left: 16vw;
}
.heartCity__name {
  padding-top: 3vw;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8vw;

}
.heartCity__text {
  color: #FFFFFF;
  font-size: 1.3vw;
}
.heartBox {
  width: 100%;
  background-size: cover;
  background-image: url(../img/box.png);
  padding-bottom: 10vh;
}
.heartBox p {
  letter-spacing: 0.1vw;
  width: 40%;
  padding-left: 56vw;
}
.heartBox__name {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8vw;
  padding-top: 4vw;

}
.heartBox__text {
  color: #FFFFFF;
  font-size: 1.3vw;
}


.docs-btn{
	display: none;
}
/*________________end partner____________________*/



@media screen and (max-width: 768px) {
	
	
	.title-fond{
		width: 70%;
		text-align: center;
		font-size: 5.5vw;
		
	}
	

	
	.header__logo-fond{
		display: none;
	}
	
	.header__block-messeng{
		display: none;
	}
	
	.nav-site{
		flex-direction: column;
		width: 100%;
   		text-align: right;
	}
	
	.info{
		display: none;
	}
	
	.help__img{
		display: none;
	}
	
	.help__text{
		padding-top: 5vw;
		width: 90%;
		margin: 0 auto;
		font-size: 3vw;
		line-height: 150%;
	}
	
	.help__text-blue,
	.help__text-info{
		font-size: 5vw;
	}
	
	.help__text-simpl{
		font-size: 3.5vw;
	}
	
	.help__text__link,
	.phone-info__ul-title,
	.news__left__title,
	.news__right__title{
		font-size: 3.5vw;
	}
	
	.help__text-blocs-info__text,
	.ul__item,
	.news__left__info,
	.news__right__info{
		font-size: 2.5vw;
	}
	
	.phone-info__title{
		margin-top: 5vw;
		margin-bottom: 5vw;
		font-size: 3.5vw;
	}
	
	.news {
		width: 90%;
		margin: 0 auto;
		flex-direction: column;
	}
	
	.news__left{
		margin-bottom: 5vw;
		width: 100%;
	}
	
	.news__right{
		width: 100%;
	}
	
	.join{
		display: none;
	}
	
	.footer-site{
		width: 90%;
		
	}
	
	.footer-site li a{
		font-size: 2vw;
	}
	
	.programm h2{
		font-size: 5vw;
	}
	
	.programm__ul {
		flex-direction: column;
	}
	
	.programm__ul li{
		width: 100%;
	}
	
	.programm__ul img{
		width: 20%;
		height: auto;
	}
	
	.programm__ul-name,
	.children__main-text,
	.children__main-ul__li,
	.children__main-text,
	.smal-indent,
	.children__main-mail,
	.children__main__text,
	.help-sms__text,
	.help-sms__info,
	.help-sms__detail-link,
	.account__info,
	.account__adress,
	.block-children__name,
	.block-children__diagnosis,
	.block-children__info,
	.block-children__link,
	.block-children__need,
	.block-children__sum,
	.partners__info,
	.partner__title{
		font-size: 3.5vw;
		line-height: 150%;
	}
	
	.programm__ul-text{
		font-size: 3vw;
	}
	
	.heartCity {
		background-size: 100% 100%r;
		padding-bottom: 2vh;
	}
	
	.heartBox {
		background-size: 600% 600%;
		padding-bottom: 7vh;
	}
	
	
	.heartBox{
		padding: 0 0  2vw 0;	
	}
	
	.heartCity p{
		font-size: 3.5vw;
		text-align: left;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding: 2vw 2vw 2vw 0 ;
	}
	
	
	.heartBox p {
		font-size: 3.5vw;
		text-align: center;
		letter-spacing: 0.1vw;
		width: 90%;
		padding: 2vw 2vw 2vw 0 ;
		margin: 0 auto;
		
	}
	
	.title__main{
		font-size: 5vw;
	}
	
	
	.children__main-ul {
		padding: 1.5vw 5.5vw;
	}
	
	.help-sms__title,
	.help-sms__title-red{
		font-size: 4.5vw;
	}
	
	.help-sms__info,
	.help-sms__operator{
		width: 80%;
	}
	
	.help-sms__operator img{
		width: 22%;
		height: auto;
	}
	
	.help-sms__detail-link{
		margin-left: 0%;
		text-align: center;
	}
	
	.account__info{
		width: 100%;
	}
	
	.adress__img{
		display: none;
	}
	
	.title__main-help{
		width: 100vw;
		font-size: 5vw;
	}
	
	.right-block__list{
		width: 100%;
		margin-left: 5%;
	}
	
	.children__main-ul__li{
		font-size: 3vw;
		width: 100%;
	}
	
	.main-help{
		flex-direction: column;
		text-align: center;
	}
	
	.main-help__block-children{
		width: 80%;
		margin: 0 auto;
	}
	
	.block-children__img{
		width: 70%;
		margin: 0 auto;
	}
	
	.partners__title{
		font-size: 5vw;
	}
	
	.title__main-star{
		width: 5vw;
	}
	
	.detail__img{
		width: 3.5vw;
		margin-left: 3vw;
	}
	
	.volunter__form{
		flex-direction: column;
	}
	
	.volunter__description{
		width: 100%;
		font-size: 3.5vw;
	}
	
	.volunter__title-form{
		font-size: 5vw;
	}
	
	.form__left-bar,
	.form__right-bar{
		width: 100%;
		margin-top: 5vw;
	}
	
	.left-bar__input,
	.radio__label,
	.left-bar__input-submit,
	.right-bar__textarea,
	.legal__text,
	.legal__title-ul,
	.legal__list,
	.list__li{
		font-size: 3.5vw;
	}
	
	.right-bar__textarea{
		height: 20vw;	
	}
	
	.title__main-star{
		width: 5vw;
	}
	
	
	.detail{
		flex-direction: column;
	}
	
	
	.detail__block-info{
		width: 100%;
	}
	.wrap-name,
	.block-info__prace{
		width: 100%;
	}
	
	.block-info__name,
	.wrap-name__link,
	.btns__docs{
		font-size: 3.5vw;
		line-height: 150%;
	}
	

	
	.block-info__name{
		margin-bottom: 3vw;
	}
	
	.block-info__diagnosis,
	.block-info__info,
	.block-info__link,
	.block-info__need, 
	.block-info__sum{
		font-size: 3.5vw;
	}
	
	.btns__docs{
		height: auto;
	}
	
	.block-info__btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	
	.btns__help,
	.btns__docs{
		font-size: 4vw;
		margin-top: 5vw;
	}
	
	
	.nav{
		display: none;
	}
	/* стилизация label  */
	.hide + label {
		display: block;
	}
	
	.nav-site li a {
		font-size: 3.5vw;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		line-height: 230%;
		cursor: pointer;
	}

	
	/*тут все спрятал*/
	.hide,
	.hide + label ~ div {
		display: none;
	}
	/* стилизация label  */
	.hide + label {

	}

	.detail__img{
		width: 1.5vw;
		height: auto;
		margin-left: 1vw;
	}
	/* при активном chekbox показываю контент   */
	.hide:checked + label + .docs__list {
		width: 100%;
		display: flex; 
		flex-direction: column;
		padding: 1vw 1vw 1vw 2vw;
		margin-top: 5vw;
		font-size: 1.2vw;
		line-height: 150%;
		letter-spacing: 0.1em;
		color: #000000;


		/* немного анимация не трогай! */
		 -webkit-animation:fade ease-in 0.5s; 
		 -moz-animation:fade ease-in 0.5s;
		 animation:fade ease-in 0.5s; 
	}
	/* немного анимация не трогай! */
	@-moz-keyframes fade {
		from { opacity: 0; }
	to { opacity: 1 }
	}
	@-webkit-keyframes fade {
		from { opacity: 0; }
	to { opacity: 1 }
	}
	@keyframes fade {
		from { opacity: 0; }
	to { opacity: 1 }   
	}
	
	.personal__title{
		font-size: 3.5vw;
	}
	
	.personal__text{
		font-size: 2.5vw;
		margin-bottom: 5vw;
	}
	
	.detail__img{
		width: 3.5vw;
	}
	
	.footer{
		display: none;
	}
	
	.bg-main-child {
		background-size: auto;
	}
}




