
html,
body {
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  font-family: 'Panton';
}

.settings {
    width: 80%;
  font-size: 1.3vw;
    margin: 0 auto;
}
.settings input,
.settings textarea,
.settings select {
  font-size: 1.3vw;
  margin: 1vw;
}
.settings div
{
   text-align:  center;
}
.settings__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.settings__form-file {
  font-size: 1.3vw;
}
.settings__form p {
  margin: 0 auto;
  padding: 1vw 0;
}
.settings__inf {
  margin: 0 auto;
}

.settings__inf-name,
.settings__inf textarea {
  padding: 0.3vw;
  width: 95%;
}
.settings__inf textarea {
  resize: none;
}
.settings__inf-date
{
  margin: 1vw 0;
}
.settings__inf-cost,
.settings__inf-collection
{
  width: 20%;
}
.news,
.children,
.team ,
.partners,
.report,
.report_doc {
  width: 70%;
  font-size: 1.3vw;
  margin: 0 auto;
  font-family: 'Panton';
}
.news div,
.children div,
.team div ,
.partners div ,
.report div ,
.report_doc div {
  font-size: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news a,
.children a,
.team a,
.partners a,
.report a,
.report_doc a  {
  text-decoration: none;
  color: #000000;
}
input {
  font-size: 1.2vw;
}
.news p,
.children p,
.team p,
.partners p,
.report p,
.report_doc p {
  width: 50%;
  border: 4px double black; /* Параметры границы */
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .news,
  .children,
  .team ,
  .partners,
  .report,
  .report_doc {
    width: 90%;
  }
  input,
  p {
    font-size: 2.5vh;
  }
  .news div,
  .children div,
  .team div ,
  .partners div ,
  .report div ,
  .report_doc div {
    font-size: 4vh;
  }
  .news p,
  .children p,
  .team p,
  .partners p,
  .report p,
  .report_doc p {
    width: auto;
  }
  h1 {
    font-size: 4vh;
  }
.settings {
  width: 90%;
}
.replace {
  margin: 2vw;
  padding: 0.3vw 1vw;
}
  div {
    width: 90%;
  }
  .settings input,
  .settings textarea,
  .settings select{
    margin: 2vh 0;
    padding: 1vh 0;
    font-size: 2.5vh;
    width: 100%;
  }


}
