* {
    margin: 0;
    padding: 0;
    font-family: Circe;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: row;
    background: #E5E5E5;
    justify-content: space-between;
}


.left-menu {
    padding-top: 2.5vw;
    width: 15%;
    background: #fff;
    text-align: center;
    height: 100vh;
}

.menu__logo-site {
    width: 80%;
    height: auto;
    padding-bottom: 2.5vw;
}

.menu__block-user {
    width: 80%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 2.5vw 0 2.5vw 0;
}


.user__info__fio {
    margin-bottom: 1vw;
    font-size: 1.1vw;
    line-height: 1.5vw;
    letter-spacing: 0.05em;
    color: #000000;
}

.user__info__status {
    margin-top: 0.3vw;
    width: 50%;
    padding: 0.5vw 1vw;
    margin: 0 auto;
    font-size: 1.1vw;
    line-height: 1.4vw;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #6D8DFF;
    border-radius: 100px;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.menu__list a {
    font-size: 1.2vw;
    line-height: 1.9vw;
    letter-spacing: 0.05vw;
    padding: 1.5vw 0 1.5vw 0;
    color: #808080
}

.menu__list {
    padding: .5vw 0 .5vw 0;
}

.right-bar {
    width: 80%;
    padding-top: 2vw;
}

.right-bar__title {
    font-size: 1.8vw;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 2.3vw;
}

.right-bar__text {
    padding: 1vw;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 5vw;
    outline: none;
    font-size: 1.26vw;
    line-height: 1.84vw;
    letter-spacing: 0.03em;
    color: #000000;
}

.btns__ferst {
    outline: none;
    cursor: pointer;
    margin-top: 1.6vw;
    padding: 0.8vw 5vw;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #7C89FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
}

.btns__second {
    outline: none;
    cursor: pointer;
    margin-top: 1.6vw;
    padding: 0.8vw 2vw;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    color: #7C89FF;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: 1px solid #D9DDFF;

}

.right-bar__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.right-bar__top-btn {
    width: 30%;

}

.top-btn__ferst,
.top-btn__second {
    padding: 0.6vw 2.36vw;
    font-size: 1.1vw;
    line-height: 1.5vw;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #808080;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px #B7D9F9;
    border-radius: 10px;
    margin-right: 1vw;
}

.active-btns {
    background: #8EC9FF;
    color: #FFFFFF;
}

.right-bar__subinp {
    margin-top: 2vw;
    font-size: 1vw;
    line-height: 1.5vw;
    letter-spacing: 0.03em;
    color: #808080
}

.right-bar__inp {
    width: 90%;
    padding: 0.5vw;
    outline: none;
    border: none;
    font-size: 1.2vw;
    line-height: 1.8vw;
    letter-spacing: 0.03em;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.right-bar__botton-ex {
    cursor: pointer;
    margin-top: 3vw;
    font-size: 1.2vw;
    line-height: 1.8vw;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #8EC9FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 1vw 4vw;
}

.right-bar__textarea {
    padding: 1vw;
    font-size: 1.2vw;
    outline: none;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 40vh;
}


.right-bar__block-title,
.right-bar__block-info {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.block-title__num,
.block-info__num {
    width: 5%;
    margin-bottom: 0.5vw;
    font-size: 1.1vw;
    line-height: 1.5vw letter-spacing: 0.03em;
    color: #808080;
}

.block-title__name,
.block-info__name {
    width: 15%;
    margin-bottom: 0.5vw;
    font-size: 1.1vw;
    line-height: 1.5vw letter-spacing: 0.03em;
    color: #808080;
}

.block-title__ex,
.block-info__ex {
    width: 50%;
    margin-bottom: 0.5vw;
    font-size: 1.1vw;
    line-height: 1.5vw letter-spacing: 0.03em;
    color: #808080;
}

.block-title__rewen,
.block-info__rewen {
    width: 10%;
    margin-bottom: 0.5vw;
    font-size: 1.1vw;
    line-height: 1.5vw letter-spacing: 0.03em;
    color: #808080;
}

.block-title__bal,
.block-info__bal {
    width: 10%;
    margin-bottom: 0.5vw;
    font-size: 1.1vw;
    line-height: 1.5vw letter-spacing: 0.03em;
    color: #808080;
}

.block-title__status,
.block-title__status {
    width: 10%;
    margin-bottom: 0.5vw;
    font-size: 1.1vw;
    line-height: 1.5vw letter-spacing: 0.03em;
    color: #808080;
}

.right-bar__block-info p {
    text-align: center;
    font-size: 1vw;
    display: table-cell; 
    vertical-align: middle;
    margin-right: 0.3vw;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 3vw;
    line-height: 3vw;
    padding: 0.5vw;
    height: 100%;
}

.block-info__num{
    width: 2%;
}

.right-bar__teor{
    padding: 1vw 2vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-size: 1.2vw;
    line-height: 1.8vw;
    letter-spacing: 0.03em;

    color: #000000;
}

.wrap__redact-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
}
.teor__pen{
    width:30%;
    background-color: rgba(0,0,0,0);
    border:none;
    background-image: url(../img/pen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    cursor: pointer;
}

.teor__krest{
    width:30%;
    background-color: rgba(0,0,0,0);
    border:none;
    background-image: url(../img/krect%20.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    cursor: pointer;
}


.stat{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.select__option{
    font-size: 1.2vw;
    line-height: 1.8vw;
    letter-spacing: 0.03em;
    color: #272727;
    padding: 0.5vw 1vw   ;
    width: 40%;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);


