* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  list-style: none;
  color: #000;
}

.popup-reg {
  width: 20%;
  padding: 2vw 1vw 1vw 1vw;
  text-align: center;
  margin: 18% auto 0;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.popup-reg__block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}

.popup-reg__icons {
  width: 25%;
  height: auto;
}

.popup-reg__title {
  font-size: 1.2vw;
  line-height: 1.8vw;
  color: #080808;
}

.popup-reg__title-input {
  font-size: 0.8vw;
  line-height: 1vw;
  color: #080808;
}

.popup-reg__input {
  width: 80%;
  padding: 0.2vw;
  font-size: 0.8vw;
  background: #fffdfd;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 6px;
}

.popup-reg__btn {
  background: #70a8fd;
  border-radius: 6px;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 1vw;
  color: #ffffff;
  border: none;
  padding: 0.3vw 1vw;
  cursor: pointer;
}

/* новости и мероприятия */

.news {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.header {
  padding-top: 1vw;
  padding-bottom: 0.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #d5d5d5;
}

nav {
  width: 35%;
}
.nav-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  list-style: none;
  text-decoration: none;
  font-size: 0.9vw;
  line-height: 1.1vw;
  color: #888888;
}

.title-page {
  padding-top: 2.5vw;
  font-size: 1.4vw;
  line-height: 1.8vw;
  color: #888888;
}

.info-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #d5d5d5;
  text-align: left;
  padding: 0.5vw 1vw;
}

.info-menu__number,
.info-menu__titel,
.info-menu__data {
  font-size: 0.8vw;
  line-height: 1vw;
  color: #888888;
}
.info-menu__number {
  min-width: 5%;
  max-width: 5%;
}

.info-menu__titel {
  min-width: 60%;
  max-width: 60%;
}

.info-menu__data {
  min-width: 20%;
  max-width: 20%;
}
.info-menu__icons_del {
  background-color: #fff;
  background-image:url(img/cancel.svg);
  background-size: 80%;
  margin-left: 1.5vw;
  width: 1.2%;
  cursor: pointer;
  background-color: #fff;
}
.info-menu__icons {
  background-color: #fff;
  background-image:url(img/icons8-ios.svg);
  background-size: 80%;
  margin-left: 1.5vw;
  width: 1.2%;
  cursor: pointer;
  background-color: #fff;
}
a.bot8 {
  background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        border-radius: 4px;
    color: #555555;
    display:block;
        width:120px;
        margin: 20px auto;
    font-size: 14px;
        text-align:center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
        text-decoration:none;
}
a.bot8:hover, a.bot8:focus {
   border-color: rgba(82, 168, 236, 0.8);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
   outline: 0 none;
}
.chekked {
  transform:scale(2);
  margin: 2vw;
}
.form-horizontal{
  margin: 0 auto;
  width: 60%;
  padding-top: 3vw;
  display: flex;
  font-size: 1.2vw;
  flex-direction: column;
  align-items: flex-start;
}
.form-horizontal-input{
  width: 75%;
  font-size: 1vw;
}
.form-horizontal-text {
  width: 100%;
  text-align: -webkit-left;
}
.icon-excel-del {
  background-color: #fff;
  background-image:url(../img/cancel.svg);
  background-size: 70%;
padding-left : 32px;

padding-bottom : 10px;

background-repeat : no-repeat;
}
.btn-medium {
  background-color: #fff;
  margin-left: 1vw;
  border: none;
}
.icon-excel {
  background-color: #fff;
  background-image:url(../img/icons8-ios.svg);
  background-size: 70%;
padding-left : 32px;

padding-bottom : 10px;

background-repeat : no-repeat;
}
