
html,
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/fon.jpg);
/* background-color: white; */
  background-size: cover
}
body{
  width: 100%;
}
img {
  max-width: 100%;
}
.information ,
.settings {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding-top: 8vh;
  font-size: 1.3vw;
  font-weight: bold;
}
.replace {
  top: 1vh;
      background: none;
      font-size: 12vh;
      color: #A939E6;
      background-image: url(../img/backward-arrow.png);
      background-repeat: no-repeat;
      width: 9vw;
      cursor: pointer;
      background-position: center;
      position: absolute;
      margin: 0;
}
.information a {
  width: 3%;
  margin-right: 0;
  font-size: 0;
}

.popup-reg{
    width: 30%;
    margin: 0 auto;
}

.form__input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popup-reg-title{
    text-align: center;
    font-size: 2vw;
}

.input__pole{
    color: #000;
    margin-bottom: 2vw;
    font-size: 1.5vw;
    outline: none;
    width: 90%;
    background: rgba(0,0,0,0);
    border: 2px solid #A939E6;
}

.btm-sub {
    margin-left: 25%;
    width: 50%;
	font-size: 1.2vw;
	font-weight: 300;
	padding: 1vw 2vw;
	letter-spacing: 1.6px;
	box-shadow: 4px 8px 6px 1px rgba(0, 0, 0, 0.08);
	border-radius: 23px;
	background-image: linear-gradient(-243deg, #aa3bea 0%, #7011db 100%);
	border: none;
	color: #fff;
	cursor: pointer;
    outline: none;
}

.btm-sub{

}

.little_margin {
  margin-left: 3%
}
.big_margin {
  margin-left: auto;
}

.information__partner,
.information__news,
.information__service,
.information__doc {
  margin: 4vh 4%;
  width: 45vw;
}
.information__partner p,
.information__news p,
.information__service p,
.information__doc p{
  white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    /* Не обязательно, но может понадобиться. Например, для ссылок */
    display: block;
  display: flex;
  align-content: center;
  padding: 0.5vw;
  width: 90%;
  /* line-height: 100%; */
  border-radius: 15px;
  box-shadow: 0 0 0 2px #800080;
  color: #000;
  font-size: 1.1vw;
  margin: 3vh 0;
}
.block-doc__title {
  margin-left: 2vw;
}
input {
  background: linear-gradient(90deg, #A939E6 27.26%, #6F11DC 121.24%);
  border-radius: 8px;
  /* background-color: white; */
  font-size: 1vw;
  border: none;
  padding: 0.3vw 1vw;
  margin-left: 3%;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.1vw;

}

button {
    font: inherit;
}

h2 {
    margin: 0 0 0.5em 0;
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
}

.sample p {
    margin: 0 2vw 0 0;
    font-size: 2vw;
    font-weight: 300;
    color: #000;

}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
    background-color: #eee;
}

.sample {
    margin-bottom: 4em;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

}
.settings {
  width: 40%;
  margin: 0 auto;
}
.settings input {
      display: inline-block;
      height: 2vw;
      /* padding: 0.5vw; */
      margin: 0;
      cursor: text;
      outline: none;
      width: 31vw;
      padding: 0.5vw;
      border-radius: 15px;
      border: 2px solid #800080;
      color: #000;
      font-size: 1vw;
      background: none;
      background-color: rgba(0, 0, 0, 0);
}
.settings p {

    font-size: 2vw;
    font-weight: 300;
    color: #000;

}
.settings textarea
{
  background: #ccc;
  font-size: 1vw;
  outline: none;
  padding: 0.5vw;
  border: 2px solid #800080;
  border-radius: 15px;
  background: none;
  background-color: rgba(0, 0, 0, 0);
}
.button_add,
.button_red {
  margin-top: 2vw;
  margin-left: 43%;
}
@media screen and (max-width: 768px) {
  .information__doc,
  .information__news,
  .information__partner ,
  .information__service {
    width: 90%;
  }
  input,
  p {
    font-size: 2.5vh;
    padding: 0 2vh;

  }
  .button_add {
    margin-left: 32%;
  }
  .button_red {
    margin-left: 27%;
  }
  .input_add,
  .button_add,
  .button_red {
    font-size: 3vh;
    margin-top: 2vh;
    padding: 1vh 2.5vh;
  }
  .filestyler_image {
    font-size: 15vh;
  }
  .information__doc div,
  .information__news div,
  .information__partner div ,
  .information__service div {
    font-size: 4vh;
  }
  .information__doc p,
  .information__news p,
  .information__partner p,
  .information__service p,
  .sample p {
    padding: 1vh;
    width: auto;
    font-size: 3vh;
  }
  .information a {
  width: 7%;
  }
  .filestyler__input {

  }
  h1 {
    font-size: 4vh;
  }
  h2 {
    font-size: 4vh;
  }
.settings {
  width: 90%;
  padding: 0;
}
.little_margin {
  margin-left: 3%
}
.big_margin {
  margin-left: auto;
}
.replace {
  width: 10vh;
  margin: 2vw;
  padding: 0.3vw 1vw;
}
  div {
    width: 90%;
  }
  .settings p,
  .settings input,
  .settings textarea,
  .settings select{
    margin: 1vh 0;
    padding: 2vh 1vh;
    font-size: 3vh;
    width: 100%;
  }
    
    .popup-reg{
       width: 80%;
        margin-top: 50%;
    }
    
    .popup-reg-title{
        font-size: 5.5vw;
    }
    
    .input__pole {
        color: #000;
        margin-bottom: 10vw;
        font-size: 7.5vw;
        outline: none;
        width: 90%;
        background: rgba(0,0,0,0);
        border: 2px solid #A939E6;
    }
    
    .btm-sub{
        font-size: 5.5vw;
    }

}
