* {
	margin: 0;
	padding: 0;
}

body {
    position: relative;
	font-size: 100%;
	background-image: url(../img/main-bg.png);
	background-repeat: no-repeat;
	background-size: 200% 200%;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}



.relativ {
	position: relative;
	height: 100%;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.wrap-content {
	width: 90%;
	margin: 0 auto;
    padding-bottom: 5vw;
}

/*header*/
.header {
	padding-top: 2vw;
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
}

.header__link {
	color: #000000;
	font-size: 1.5vw;
	font-weight: 700;
	letter-spacing: 2.4px;
}

.header__link span {
	font-weight: 300;
	opacity: 0.77;
}

nav {
	width: 100%;
}

.nav__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    display: flex;
    width: 70%;
    margin-left: 30%;
    flex-direction: row;
    justify-content: space-between;
}

.list__item {
	font-size: 1.15vw;
	font-weight: 300;
	color: #000;
	letter-spacing: 1.8px;
}


/* end header*/


/*footer*/
.footer {
    position: absolute;
    bottom: 3%;
    left: 5%;
	width: 90vw;
	margin: 0 auto;
	display: flex;
	align-items: center;

}

.footer__logo {
	width: 1.9vw;
	height: auto;
	margin-right: 1.9vw;
}

.footer__vk {
	width: 1.9vw;
	height: auto;
	margin-right: 20vw;
}

.footer__title {
	width: 15.5vw;
	opacity: 0.71;
	color: #000;
	font-size: 1vw;
	font-weight: 300;
	line-height: 1.5vw;
	letter-spacing: 0.6px;
}

/* end footer*/
/*service*/

.wrap-content__title {
	padding-top: 4vw;
	font-size: 2.5vw;
	font-weight: 800;
	letter-spacing: 0.25vw;
}

.wrap-content__items {
	padding-top: 2.5vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.big{
    padding-top: 12vw;
}
.items__info {
	padding: 2.5vw 0;
	width: 20vw;
	min-width: 300px;
	display: flex;
	margin-right: 2.5vw;
	margin-bottom: 2.5vw;
	flex-direction: column;
	justify-content: center;
	box-shadow: 3px 7px 6px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-image: linear-gradient(56deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
	cursor: pointer;
}

.info__img {
	width: 15%;
	height: auto;
	margin: 0 auto;
}

.info__title {
	width: 90%;
	margin: 0 auto;
    overflow: hidden;
	font-size: 1.5vw;
	margin-top: 2.5vw;
	letter-spacing: 0.13vw;
	text-align: center;
	color: #000;
}

.info__text {
	width: 90%;
	margin: 0 auto;
	opacity: 0.8;
	font-size: 1.1vw;
	font-weight: 300;
	line-height: 130%;
	margin-top: 2.2vw;
	letter-spacing: 0.1vw;
	text-align: center;
	color: #000;
}

.wrap-content__bottom-info {
	margin-bottom: 5.5vw;
	margin-top: 2.7vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.bottom-info__img {
	width: 3.8vw;
	height: auto;
}


.bottom-info__right-block {
	position: fixed;
	bottom: 0;
    width: 12%;
	right: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bottom-info__right-block img{
    margin-top: 1vw;
    width: 0.5%;
    height: auto;
}

.right-block__text,
.right-block__num {
	font-size: 1.2vw;
	letter-spacing: 0.2vw;
}

.right-block__text {
	transform: rotate(-90deg);
	margin-bottom: 6vw;
}

.index{
    margin-bottom: 4vw;
}

.about-title{
    margin-bottom: 3vw;
}

.news-title{
    margin-bottom: 3vw;
}

.contack-title{
    margin-bottom: 4vw;
}

/* end service*/




/* adout*/
.about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 55%;
}

.about__form {
	margin-top: 3vw;
	width: 43%;
	padding: 1vw 1vw;
	box-shadow: 4px 8px 6px 1px rgba(0, 0, 0, 0.08);
	border-radius: 23px;
	border: 2px solid #7929da;
	outline: none;
	font-size: 1.2vw;
	font-weight: 300;
	letter-spacing: 1.6px;
	background-color: rgba(0, 0, 0, 0);
}

.about__btn {
    outline: none;
	margin-top: 3.4vw;
	font-size: 1.2vw;
	font-weight: 300;
	padding: 1vw 2vw;
	letter-spacing: 1.6px;
	box-shadow: 4px 8px 6px 1px rgba(0, 0, 0, 0.08);
	border-radius: 23px;
	background-image: linear-gradient(-243deg, #aa3bea 0%, #7011db 100%);
	border: none;
	color: #fff;
	cursor: pointer;
}

.download__img{
    width: 1.5vw;
    height: auto;
}

.bg-girl {
	width: 23%;
	height: auto;
	position: absolute;
	bottom: 0;
	right: 15vw;
}

/* end adout*/


/* partner*/
.content__partner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.partber__items {
	margin: 1vw 1vw 0 0;
	width: 15vw;
	min-width: 200px;
	margin-right: 2.5vw;
	padding: 1vw 0 1vw 0;
	margin-bottom: 2.5vw;
	text-align: center;
	box-shadow: 3px 7px 6px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-image: linear-gradient(56deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
	cursor: pointer;
}

.items__photo {
	max-width: 80%;
	height: auto;
	min-height: 2.5vw;
}

/* end partner*/


/* index*/
.wrap-content__sub-title {
	margin-top: 1.7vw;
	width: 40%;
	margin-bottom: 1.7vw;
	opacity: 0.73;
	font-size: 1.1vw;
	font-weight: 300;
	letter-spacing: 0.16vw;
	line-height: 130%;
}

.wrap-content__about {
    outline: none;
    text-align: center;
    padding: 0.7vw 4.8vw;
    line-height: 5vw;
    color: #fafafa;
    font-size: 1.5vw;
    font-weight: 300;
    letter-spacing: 0.15vw;
    background: linear-gradient(90deg, #FB48FF -12.79%, #C625FF 111.63%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.1vw;
    border-radius: 35px;
}

/* end index*/



.ul-item {
	list-style: none;
	margin-top: .3vw;
	width: 60%;
	margin-bottom: .3vw;
	opacity: 0.73;
	font-size: 1.1vw;
	font-weight: 300;
	letter-spacing: 0.16vw;
}

.ul-item::before {
	content: "\2022";
	/* юникод точки */
	color: #b135f0;
	/* Менять цвет */
	font-size: 1.1vw;
	font-weight: bold;
	/* Менять жирность */
	display: inline-block;
	/* Расстояние между точкой и текстом */
	width: 1vw;
	/* Задать значение расстояния */
}




/*content__news*/

.content__news {
	margin-top: 3vw;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.news__block {

	margin-right: 2vw;
	margin-bottom: 2vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1vw;
	width: 45%;
	min-width: 200px;
	box-shadow: 3px 7px 6px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-image: linear-gradient(56deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.block__img {
	max-width: 45%;
	height: 70%;
	max-height: 20vw;
}


.block__right-bar {
	width: 50%;
}

.right-bar__title {
	font-size: 2.2vw;
	margin-bottom: 1.3vw;
}

.right-bar__text {
	font-size: 1.2vw;
	font-weight: 300;
	line-height: 1.5vw;
    overflow: hidden;
    font-weight: 300;
	letter-spacing: 0.07vw;
	margin-bottom: 1.5vw;
}

.right-bar__data {
	text-align: right;
	font-size: 0.9vw;

}

/* endcontent__news*/



/*map*/


.wrap-content__map {
	margin-top: 2vw;
	background-color: #fff;
	width: 90%;
    height: 25vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}

.map__img {
	width: 60%;
	height: auto;

}

.map__block-contact {
    box-sizing: border-box;
	padding: 5vw;
	width: 45%;
	text-align: left;
}

.contact__block {
    width: 80%;
    margin-bottom: 1.5vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.block__title {
	font-size: 1.3vw;
	width: 50%;
	text-align: left;
}

.block__info {
	font-size: 1.3vw;
	width: 50%;
	text-align: left;
}

/* end map*/


/*docs*/
.content__docs{
	margin-top: 1.5vw;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.docs__title-doc{
	display: flex;
        margin-bottom: 1.5vw;
	flex-direction: row;
	align-items: center;
	padding: 1vw;
	box-shadow: 3px 7px 6px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-image: linear-gradient(56deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
	}

.title-doc__img-text{
	margin-right: 1.7vw;
	width: 1.7vw;
	height: 2.3vw;
}

.title-doc__img-title{
	font-size:  1.2vw;
	font-weight: 300;
	letter-spacing: 1.6px;
	min-width: 35vw;
}
frame-doc{
	width: 100vw;
	padding: 1vw;
	box-shadow: 3px 7px 6px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-image: linear-gradient(56deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
/* end docs*/

/*тут все спрятал*/
.hide,
.hide + label ~ div {
    display: none;
}
/* стилизация label  */
.hide + label {
	display: none;
}

.wrap-content__bottom-info{
   display: none;
}

@media screen and (max-width: 768px) {
    .nav__list{
        display: none;
    }

    /* при активном chekbox показываю контент   */
	.hide:checked + label + .docs__list {
		width: 100%;
		display: flex; 
		flex-direction: column;
		padding: 1vw 1vw 1vw 2vw;
		margin-top: 5vw;
		font-size: 1.2vw;
		line-height: 150%;
		letter-spacing: 0.1em;
		color: #000000;


		/* немного анимация не трогай! */
		 -webkit-animation:fade ease-in 0.5s; 
		 -moz-animation:fade ease-in 0.5s;
		 animation:fade ease-in 0.5s; 
	}
	/* немного анимация не трогай! */
	@-moz-keyframes fade {
		from { opacity: 0; }
	to { opacity: 1 }
	}
	@-webkit-keyframes fade {
		from { opacity: 0; }
	to { opacity: 1 }
	}
	@keyframes fade {
		from { opacity: 0; }
	to { opacity: 1 }   
	}

        /* стилизация label  */
    .hide + label {
        display: block;
        text-align: right;
    }
    .wrap-content{
        min-height: 80vh;
    }
    .wrap-content__title{
            padding-top: 10vw;
            font-size: 7vw;
            font-weight: 800;
            letter-spacing: 0.25vw;
        margin-bottom: 5vw;
    }
    .wrap-content__sub-title{
        font-size: 3.5vw;
        line-height: 150%;
        width: 100%;
        margin-bottom: 5vw;
    }
    
    .header__link{
        font-size: 5vw;
    }
    
    .wrap-content__about{
        margin-top: 10vw;
        font-size: 5vw;
        padding: 2vw 7.8vw;
    }
    

    .footer__title {
        width: 45vw;
        opacity: 0.71;
        color: #000;
        font-size: 3vw;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: 0.6px
    }
    
    .footer__logo {
        width: 5vw;
        margin-right: 3vw;
    }
    
    .footer__vk {
        width: 5vw;
        margin-right: 20vw;
    }
    
    .bottom-info__right-block{
        display: none;
    }
    
    .footer{
        position: inherit;
        justify-content: space-between;
    }
    
    .bg-girl{
        display: none;
    }
    
    .ul-item{
        font-size: 3.5vw;
        line-height: 150%;
        width: 100%;
    }
    
    .content-ul{
        margin-bottom: 15vw;
    }
    .ul-item::before {
        font-size: 4vw;
        width: 3vw;
    }
    
    .about {
        flex-direction: column;
        width: 100%;
    }
    
    .about__form {
        margin-top: 5vw;
        width: 90%;
        padding: 3vw 3vw;
        font-size: 3vw;
    }
    .about__btn {
        width: 60%;
        margin-left: 20%;
        margin-top: 5vw;
        font-size: 5vw;
        font-weight: 300;
        padding: 3vw 2vw;
    }
    
    .wrap-content__items {
        padding-top: 5vw;
        flex-direction: column;

    }
    
    .info__title,
    .info__text{
        font-size: 3vw;
    }
    
    .content__docs {
        margin-top: 3.5vw;
        width: 100%;
    }
    
    .docs__title-doc{
        padding: 3vw;
    }
    .title-doc__img-text {
        margin-right: 3.5vw;
        width: 3.5vw;
        height: 4.3vw;
    }
    
    .title-doc__img-title {
        font-size: 3.5vw;
        font-weight: 300;
        letter-spacing: 1.6px;
        min-width: 80%;
    }
    
    .content__news{
        flex-direction: column;
    }
    
    .news__block {
        margin-right: 0;
        margin-bottom: 5vw;
        padding: 3vw;
        width: 100%;
        flex-direction: column;
        min-height: 20vw;
    }
    
    .right-bar__title {
        margin-top: 2vw;
        font-size: 5vw;
        margin-bottom: 3.5vw;
    }
    
    .block__img {
        width: 100%;
        height: auto;
        max-height: 100%;
        margin: 0 auto;
    }
    
    .right-bar__text,
    .right-bar__data{
        font-size: 3.4vw;
        line-height: 4vw;
    }
    
    .block__right-bar {
        width: 100%;
    }
    
    .wrap-content__map {
        height: auto;
        margin-top: 5vw;
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    
    .map__img {
        width: 100%;
    }
    
    .block__info {
        text-align: left;
        font-size: 1vw;
        width: 100%;
        text-align: left;
    }
    
    .map__block-contact {
        display: flex;
        flex-direction: column;
        padding: 5vw;
        width: 100%;
        text-align: left;
    }
    
    .block__title,
    .block__info{
        font-size: 3.6vw;
        width: 100%;
        text-align: left;
    }
    
    .list__item{
        font-size: 4.5vw;
        font-weight: 300;
        color: #000;
        letter-spacing: 1.8px;
        line-height: 150%;
    }
    
    .wrap-content__bottom-info{
        display: none;
    }
    
    .partber__items {
        width: 100%;
        min-width: 200px;
        padding: 2vw 0 1vw 0;
        margin-bottom: 5vw;
    }
    
    .items__info{
       width: 100%; 
    }
}